@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");
body{
  height: 100vh;
  width: 100vw;
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}
body::-webkit-scrollbar{
  width: 0;
}
input,
textarea, select {
  padding: 0.6rem 1rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  transition: 0.2s ease;
}
input:focus,
textarea:focus {
  border-color: rgb(102, 126, 234);
}
.leftAligned{
  overflow-y: scroll;
  height: 83%;
  left: 5%;
}
.rightAligned{
  height: 83%;
  right: 5%;
}
.leftAligned::-webkit-scrollbar{
  width: 0;
}
.rightAligned::-webkit-scrollbar{
  width: 0;
}
.accordian_hidden{
  height: 0;
  padding: 0;
  opacity: 0;
  transition: 0.3s ease;
}
.alert_pos{
  position: fixed;
  left: 50%;
  top: -50%;
  transform: translateX(-50%);
  transition: 0.5s ease-in;
}
.show_alert{
  top: 5%;
}